body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.cal-body {
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    height: 33rem;
    width: 20rem;
    border-radius: 2rem;
}

.cal-screen {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.cal-screen div h2 {
    font-size: 1.2rem;
    color: white;
    padding-right: 1rem;
    padding-top: 2.5rem;
    margin: 0;
}

.cal-screen div h1 {
    font-size: 3rem;
    color: white;
    padding-right: 1rem;
    margin: 0;
}

.cal-pad {
    display: grid;
    background-color: rgb(46, 51, 58);
    grid-template-areas: 
    "c c a x"
    "n n n x"
    "n n n x"
    "n n n x"
    "s s l l";
    grid-gap: .1rem;
    padding: .5rem .4rem;
    height: 80%;
}

.dbtn {
    grid-area: a;
}

.abtn {
    grid-area: c;
}

.EBtn {
    grid-area: l;
}

.pad-btn {
    background-color: rgb(41, 46, 52);
    color: white;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease .1s;
    border-radius: 2rem;
}

.pad-btn:hover {
    background-color: rgb(55, 60, 66);
}

.pad-btn h1 {
    font-size: 1.3rem;
    font-weight: 100;
}

.pad-colorD {
    color: rgb(118, 226, 158);
}

.pad-colorG {
    color: rgb(239, 91, 68);
}

.pad-colorB {
    color: rgb(55, 148, 255);

}