body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.cal-body {
    background-color: rgba(37, 37, 37, 0.836);
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    height: 33rem;
    width: 20rem;
}

.cal-screen {
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.cal-screen div h2 {
    font-size: 1.2rem;
    color: white;
    padding-right: 1rem;
    padding-top: 2.5rem;
    margin: 0;
}

.cal-screen div h1 {
    font-size: 3rem;
    color: white;
    padding-right: 1rem;
    margin: 0;
}

.cal-screen2 {
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cal-pad {
    display: grid;
    grid-template: auto auto auto auto / 1fr 1fr 1fr 1fr;
    grid-gap: .2rem;
    padding: .5rem .4rem;
    height: 78%;
}

.pad-btn {
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease .1s;
}

.pad-btn:hover {
    background-color: grey;
}

.pad-btn h1 {
    font-size: 1.3rem;
    font-weight: 100;
}

.pad-colorG {
    background-color: rgb(54, 54, 54);
}

.pad-colorB {
    background-color: rgb(54, 88, 128);
}

.pad-colorB:hover {
    background-color: rgb(72, 122, 180);
}