body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.cal-body {
    background-color: rgb(109, 109, 109);
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    height: 34rem;
    width: 21rem;
}

.cal-screen {
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cal-screen div {}

.cal-screen div h1 {
    font-size: 3rem;
    color: white;
    margin: 1rem;
}

.cal-pad {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto auto;
    grid-gap: .3rem;
    padding: .6rem;
}

.pad-btn {
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pad-btn h1 {
    font-size: 1.5rem;
    font-weight: 100;
}

.pad-colorG {
    background-color: rgb(54, 54, 54);
}

.pad-colorB {
    background-color: rgba(28, 50, 146, 0.719);
}